In [1]:
import pandas as pd

In [2]:
# to load the data, you must pip install pyarrow

import pyarrow

In [3]:
# read
df = pd.read_parquet('data/test-00000-of-00001.parquet')

# write
#df.to_parquet('my_newfile.parquet')

df.head()

,tokens,ner_tags,langs,spans
0,"[Shortly, afterward, ,, an, encouraging, respo...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, ...","[en, en, en, en, en, en, en, en, en, en, en, e...","[LOC: India, LOC: Adyar]"
1,"[:, Kanye, West, featuring, Jamie, Foxx, —, ``...","[0, 1, 2, 0, 1, 2, 0, 0, 3, 4, 0, 0, 0, 0]","[en, en, en, en, en, en, en, en, en, en, en, e...","[PER: Kanye West, PER: Jamie Foxx, ORG: Gold D..."
2,"[Blacktown, railway, station]","[3, 4, 4]","[en, en, en]",[ORG: Blacktown railway station]
3,"['', Mycalesis, perseus, lalassis, '', (, Hewi...","[0, 5, 6, 6, 0, 0, 0, 0, 0, 0]","[en, en, en, en, en, en, en, en, en, en]",[LOC: Mycalesis perseus lalassis]
4,"[Jonny, Lee, Miller, -, Eli, Stone, '']","[1, 2, 2, 0, 3, 4, 0]","[en, en, en, en, en, en, en]","[PER: Jonny Lee Miller, ORG: Eli Stone]"